<div class="post">
	<div class="uv">
		<svg style="width:24px;height:24px" viewBox="0 0 24 24">
    		<path fill="currentColor" d="M14,20H10V11L6.5,14.5L4.08,12.08L12,4.16L19.92,12.08L17.5,14.5L14,11V20Z" />
		</svg>
		<%= generate_number_of_likes %>
		<svg style="width:24px;height:24px" viewBox="0 0 24 24">
		    <path fill="currentColor" d="M10,4H14V13L17.5,9.5L19.92,11.92L12,19.84L4.08,11.92L6.5,9.5L10,13V4Z" />
		</svg>
	</div>
	<div class="i">
		<% if (current_page?(root_path) || current_page?(author_path))%>
			<%= link_to post do %>
				<%= image_tag "https://picsum.photos/seed/#{post.id + post.title.length}/#{rand(100..200)}/#{rand(100..200)}" %>
			<% end %>
		<% end %>	
	</div>
	<div class="e">
		<div class="t">
			<%= link_to post do %>
				<h2>
					<%= post.title %>
				</h2>
			<% end %>
		</div>
		<div class="m">
			<p>
				submitted <%=time_ago_in_words(post.created_at) %> ago 
				<% if current_page?(root_path) %>
					by <span><%= link_to "#{post.author.username}", post.author %></span> 
				<% end %>
			</p>
			<% if (current_page?(root_path) || current_page?(author_path))%>
				<div class="ml">
					<%= link_to "#{post.comments.length} comments", post%>
				</div>
			<% end %>
		</div>
	</div>
</div>
